.cart_empty {
  margin-top: 50px;
  margin-bottom: 50px;

  img {
    width: 200px;
    margin-bottom: 20px;
  }

  h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
  }

  p {
    margin: 0;
    margin-bottom: 20px;
  }

  button {
    padding: 20px 30px;
    font-size: large;
  }
}
