.cart_empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  img {
    width: 200px;
    margin-bottom: 20px;
  }

  h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
  }

  p {
    margin: 0;
    margin-bottom: 20px;
  }

  button {
    padding: 20px 30px;
    font-size: large;
  }
}
