table.cart_list {
  margin-bottom: 40px;

  .cart_thead_tr {
    th:nth-child(1) {
      width: 5%;
    }
    th:nth-child(2) {
      width: 40%;
    }
    th:nth-child(3) {
      width: 10%;
    }
    th:nth-child(4) {
      width: 20%;
    }
    th:nth-child(5) {
      width: 15%;
    }
    th:nth-child(6) {
      width: 10%;
    }
  }
  @media (max-width: 992px) {
    th:nth-child(1),
    th:nth-child(3),
    td:nth-child(1),
    td:nth-child(3) {
      display: none;
    }
  }

  @media (min-width: 610px) {
    h3 {
      font-size: 14px;
    }

    h2 {
      font-size: 16px;
    }

    span {
      font-size: 20px;
    }
  }

  .cart_tfoot {
    tr {
      border-top: 1px solid var(--medium-color);
      background-color: #eee;
    }
    td {
      padding: 0 15px;
      color: #fff;
      span {
        margin-right: 4px;
        font-weight: normal;
        font-size: 1.2rem;
      }
    }
  }
}
