.cart_item {
  td {
    padding: 10px 8px;
  }
}
.cart_description {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-left: 20px;
  text-align: start;
  gap: 25px;

  a {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    color: rgb(206 202 202);
    font-size: 12px;
  }

  h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 15px;
  }

  span {
    display: block;
    font-size: 15px;
  }

  @media (min-width: 610px) {
    h3 {
      font-size: 14px;
    }

    h2 {
      font-size: 16px;
    }

    span {
      font-size: 20px;
    }
  }
}

.cart_image_wrapper {
  max-width: 100px;
  height: 120px;
  img {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
@media (max-width: 768px) {
  .cart_description {
    margin-left: 0;
    gap: 0;
    img {
      display: none;
    }
  }
}

.cart_count {
  padding: 6px 10px;
  p {
    margin-bottom: 8px;
    font-weight: 400;
  }
}

.cart_count_buttons {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    padding: 8px 14px;
    &:disabled {
      background: none;
      border-color: #eee;
      color: #eee;
    }
  }
}
