.checkout {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

.checkout_button {
  display: block;
  padding: 20px 50px;
  background: #222;
  border: 1px solid var(--main-color);
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s all ease;

  &:hover {
    color: #fff;
    background: var(--second-color);
  }
}
