.nav_cart_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px;
  border-bottom: 1px solid #eee;
  position: relative;

  .nav_cart_item_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    max-width: 100px;
    height: 60px;
    max-height: 100px;
    img {
      width: 100%;
      aspect-ratio: 1/1;
    }
  }

  a {
    cursor: pointer;
  }

  &:last-child {
    border-bottom: none;
  }
}

.nav_cart_description {
  flex: 1;
  margin-left: 20px;

  p {
    margin: 0;
    margin-bottom: 4px;
    color: rgb(206 202 202);
    font-size: 12px;
  }
  p.nav_cart_quantity {
    @extend p;
    color: var(--second--color);
  }

  h4 {
    margin: 0;
    margin-bottom: 4px;
    max-width: 220px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
  }

  span {
    margin: 0;
    font-size: 15px;
  }
}

.nav_cart_delete {
  font-size: 16px;
  border-radius: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.3s ease-out;

  &:hover {
  }
}

.nav_cart_price {
  padding-top: 14px;
  font-size: 14px;
}
