.nav_cart_price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  span {
    font-size: 16px;
    color: var(--main-color);
  }
  p {
    margin: 20px 10px;
    font-weight: 20px;
    font-weight: bold;
  }
}
