.footer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: var(--dark-color);

  p,
  a {
    color: var(--light-color);
  }
}

.contacts {
  display: flex;
  align-items: center;
  font-size: 25px;
  text-transform: lowercase;

  a {
    display: inline-block;
    margin-left: 10px;

    &:hover {
      color: var(--hover-color);
      cursor: pointer;
      transition: 0.3s all ease;
    }
  }
}
