@font-face {
  font-family: "jeonjuSans";
  src: url("./assets//fonts/JeonjuCraft_Go_Regular.ttf");
}
@font-face {
  font-family: "ddang";
  src: url("./assets//fonts/ddag.ttf");
}

:root {
  --main-color: #717482;
  --second-color: #767a89;
  --danger-color: #dc3545;
  --primary-color: #007bff;
  --warning-color: #ffc107;
  --success-color: #28a745;
  --dark-color: #343a40;
  --medium-color: #c0c0c0;
  --ligth-color: #f8f9fa;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "jeonjuSans", sans-serif;
  color: var(--dark-color);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

// 각 페이지 컴포넌트를 위한 wrapper
.page {
  flex: 1 1 auto;
  margin-top: 65px;
  text-align: center;

  @media (min-width: 768px) {
    margin-top: 70px;
  }
}

// page 안에 있는 wrapper
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;

  @media (min-width: 576px) {
    padding: 15px;
  }

  @media (min-width: 990px) {
    padding: 5px;
  }
}

// login, register page
.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 80px auto;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;

  a {
    color: var(--main-color);

    &:hover {
      color: var(--second-color);
      cursor: pointer;
      transition: 0.3s all ease;
    }
  }

  @media (min-width: 576px) {
    width: 70%;
  }

  @media (min-width: 768px) {
    width: 60%;
  }

  @media (min-width: 992px) {
    width: 30%;
  }
}

button {
  border-radius: 4px;
  padding: 10px 20px;
  color: var(--main-color);
  background: #fff;
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: 0.3s all ease;

  &:hover {
    color: #fff;
    background: var(--second-color);
  }

  &:disabled {
    color: #fff;
    background: var(--second-color);
  }
}
