.cart_description {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-align: start;
  gap: 25px;

  @media (min-width: 610px) {
    h3 {
      font-size: 14px;
    }

    h2 {
      font-size: 16px;
    }

    span {
      font-size: 20px;
    }
  }
}

@media (max-width: 768px) {
  .cart_description {
    margin-left: 0;
    gap: 0;
  }
}

.cart_count {
  padding: 6px 10px;
  p {
    margin-bottom: 8px;
    font-weight: 400;
  }
}

.cart_count_buttons {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    padding: 8px 14px;
    &:disabled {
      background: none;
      border-color: #eee;
      color: #eee;
    }
  }
}
